Repository integritee-network/worker, pull requests merged in 2022-12, with the labels that each got.

#1116 Skip spid/ra_api_key files if `--skip-ra` is active
  service/src/main.rs
  service/src/utils.rs
Labels: A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1112 STF primitives extraction
  Cargo.lock
  Cargo.toml
  app-libs/stf/Cargo.toml
  app-libs/stf/src/evm_helpers.rs
  app-libs/stf/src/getter.rs
  app-libs/stf/src/lib.rs
  app-libs/stf/src/stf_sgx.rs
  app-libs/stf/src/stf_sgx_tests.rs
  app-libs/stf/src/trusted_call.rs
  cli/Cargo.toml
  cli/src/base_cli/commands/shield_funds.rs
  cli/src/benchmark/mod.rs
  cli/src/evm/commands/evm_call.rs
  cli/src/evm/commands/evm_create.rs
  cli/src/evm/commands/evm_read.rs
  cli/src/trusted_base_cli/commands/set_balance.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/commands/unshield_funds.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
  core-primitives/stf-executor/Cargo.toml
  core-primitives/stf-executor/src/enclave_signer.rs
  core-primitives/stf-executor/src/error.rs
  core-primitives/stf-executor/src/executor.rs
  core-primitives/stf-executor/src/executor_tests.rs
  core-primitives/stf-executor/src/getter_executor.rs
  core-primitives/stf-executor/src/mocks.rs
  core-primitives/stf-executor/src/traits.rs
  core-primitives/stf-primitives/Cargo.toml
  core-primitives/stf-primitives/src/lib.rs
  core-primitives/stf-primitives/src/types.rs
  core-primitives/top-pool-author/Cargo.toml
  core-primitives/top-pool-author/src/api.rs
  core-primitives/top-pool-author/src/test_fixtures.rs
  core-primitives/top-pool-author/src/test_utils.rs
  core-primitives/top-pool-author/src/top_filter.rs
  core-primitives/top-pool/Cargo.toml
  core-primitives/top-pool/src/base_pool.rs
  core-primitives/top-pool/src/basic_pool.rs
  core-primitives/top-pool/src/future.rs
  core-primitives/top-pool/src/pool.rs
  core-primitives/top-pool/src/primitives.rs
  core-primitives/top-pool/src/ready.rs
  core-primitives/top-pool/src/validated_pool.rs
  core/offchain-worker-executor/Cargo.toml
  core/offchain-worker-executor/src/executor.rs
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/indirect-calls-executor/src/indirect_calls_executor.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/test/enclave_signer_tests.rs
  enclave-runtime/src/test/evm_pallet_tests.rs
  enclave-runtime/src/test/fixtures/components.rs
  enclave-runtime/src/test/fixtures/initialize_test_state.rs
  enclave-runtime/src/test/fixtures/test_setup.rs
  enclave-runtime/src/test/tests_main.rs
  enclave-runtime/src/tls_ra/tests.rs
Labels: A0-core, A1-cli, A2-applibs, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1072 Generic Oracle Refactor
  .github/workflows/build_and_test.yml
  Cargo.lock
  Cargo.toml
  app-libs/oracle/Cargo.toml
  app-libs/oracle/src/certificates/amazon_root_ca_a.pem
  app-libs/oracle/src/certificates/baltimore_cyber_trust_root_v3.pem
  app-libs/oracle/src/certificates/open_meteo_root.pem
  app-libs/oracle/src/error.rs
  app-libs/oracle/src/lib.rs
  app-libs/oracle/src/metrics_exporter.rs
  app-libs/oracle/src/mock.rs
  app-libs/oracle/src/oracle_sources/coin_gecko.rs
  app-libs/oracle/src/oracle_sources/coin_market_cap.rs
  app-libs/oracle/src/oracle_sources/mod.rs
  app-libs/oracle/src/oracle_sources/weather_oracle_source.rs
  app-libs/oracle/src/oracles/exchange_rate_oracle.rs
  app-libs/oracle/src/oracles/mod.rs
  app-libs/oracle/src/oracles/weather_oracle.rs
  app-libs/oracle/src/test.rs
  app-libs/oracle/src/traits.rs
  app-libs/oracle/src/types.rs
  cli/demo_teeracle_generic.sh
  cli/demo_teeracle_whitelist.sh
  cli/src/commands.rs
  cli/src/main.rs
  cli/src/oracle/commands/add_to_whitelist.rs
  cli/src/oracle/commands/listen_to_exchange.rs
  cli/src/oracle/commands/listen_to_oracle.rs
  cli/src/oracle/commands/mod.rs
  cli/src/oracle/mod.rs
  core-primitives/enclave-api/ffi/src/lib.rs
  core-primitives/enclave-api/src/teeracle_api.rs
  core-primitives/enclave-metrics/src/lib.rs
  core-primitives/node-api/metadata/src/pallet_teeracle.rs
  docker/demo-teeracle-generic.yml
  docker/docker-compose.yml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/Enclave.edl
  enclave-runtime/src/empty_impls.rs
  enclave-runtime/src/teeracle/mod.rs
  enclave-runtime/src/test/teeracle_tests.rs
  service/src/teeracle/mod.rs
Labels: A5-teeracle, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1123 Remove xargo
  enclave-runtime/Makefile
  enclave-runtime/Xargo.toml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1130 [local-setup] ignore if key.txt and spid.txt are not found
  local-setup/py/helpers.py
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1131 Update depenencies to `polkadot-v0.9.36`
  Cargo.lock
  app-libs/sgx-runtime/Cargo.toml
  app-libs/sgx-runtime/src/evm.rs
  app-libs/sgx-runtime/src/lib.rs
  app-libs/stf/Cargo.toml
  cli/Cargo.toml
  core-primitives/attestation-handler/Cargo.toml
  core-primitives/enclave-api/Cargo.toml
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/hashing/Cargo.toml
  core-primitives/node-api/api-client-extensions/Cargo.toml
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/node-api/factory/Cargo.toml
  core-primitives/node-api/metadata/Cargo.toml
  core-primitives/ocall-api/Cargo.toml
  core-primitives/sgx-runtime-primitives/Cargo.toml
  core-primitives/sgx/crypto/Cargo.toml
  core-primitives/stf-executor/Cargo.toml
  core-primitives/stf-primitives/Cargo.toml
  core-primitives/stf-state-handler/Cargo.toml
  core-primitives/storage/Cargo.toml
  core-primitives/storage/src/proof.rs
  core-primitives/substrate-sgx/externalities/Cargo.toml
  core-primitives/substrate-sgx/sp-io/Cargo.toml
  core-primitives/teerex-storage/Cargo.toml
  core-primitives/test/Cargo.toml
  core-primitives/top-pool-author/Cargo.toml
  core-primitives/top-pool/Cargo.toml
  core-primitives/types/Cargo.toml
  core-primitives/utils/Cargo.toml
  core/direct-rpc-server/Cargo.toml
  core/offchain-worker-executor/Cargo.toml
  core/parentchain/block-import-dispatcher/Cargo.toml
  core/parentchain/block-importer/Cargo.toml
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/light-client/Cargo.toml
  core/parentchain/parentchain-crate/Cargo.toml
  core/parentchain/test/Cargo.toml
  core/rpc-client/Cargo.toml
  core/rpc-server/Cargo.toml
  core/tls-websocket-server/Cargo.toml
  docker/docker-compose.yml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  sidechain/block-composer/Cargo.toml
  sidechain/block-verification/Cargo.toml
  sidechain/consensus/aura/Cargo.toml
  sidechain/consensus/common/Cargo.toml
  sidechain/consensus/slots/Cargo.toml
  sidechain/primitives/Cargo.toml
  sidechain/rpc-handler/Cargo.toml
  sidechain/state/Cargo.toml
  sidechain/storage/Cargo.toml
  sidechain/test/Cargo.toml
  sidechain/validateer-fetch/Cargo.toml
Labels: A0-core, B1-releasenotes, C1-low 📌, E3-hardmerge
