Repository integritee-network/worker, pull requests merged in 2022-11, with the labels that each got.

#1087 Investigate and fix sidechain integration test failures
  cli/demo_direct_call.sh
  cli/demo_sidechain.sh
  core-primitives/stf-executor/src/executor.rs
  docker/docker-compose.yml
  enclave-runtime/src/top_pool_execution.rs
  sidechain/consensus/aura/src/lib.rs
  sidechain/consensus/slots/Cargo.toml
  sidechain/consensus/slots/src/lib.rs
  sidechain/consensus/slots/src/slots.rs
  sidechain/rpc-handler/src/import_block_api.rs
  sidechain/test/Cargo.toml
Labels: A0-core, B1-releasenotes, C1-low 📌, P1-asap, F3-test, E0-breaksnothing

#1076 bump teaclave-sdk to v1.1.6-testing #1074
  Cargo.lock
  Cargo.toml
  Makefile
  UpdateRustSGXSDK.mk
  app-libs/stf/src/evm_helpers.rs
  app-libs/stf/src/hash.rs
  cli/src/base_cli/mod.rs
  core-primitives/attestation-handler/src/attestation_handler.rs
  core-primitives/attestation-handler/src/cert.rs
  core-primitives/enclave-api/src/enclave_base.rs
  core-primitives/enclave-api/src/remote_attestation.rs
  core-primitives/node-api/metadata/src/lib.rs
  core-primitives/node-api/metadata/src/pallet_system.rs
  core-primitives/node-api/metadata/src/pallet_teerex.rs
  core-primitives/stf-state-handler/Cargo.toml
  core-primitives/stf-state-handler/src/in_memory_state_file_io.rs
  core-primitives/stf-state-handler/src/state_snapshot_repository.rs
  core-primitives/substrate-sgx/sp-io/src/lib.rs
  core-primitives/test/src/mock/onchain_mock.rs
  core-primitives/top-pool/src/lib.rs
  core-primitives/top-pool/src/listener.rs
  core-primitives/top-pool/src/pool.rs
  core-primitives/top-pool/src/ready.rs
  core/rpc-client/src/ws_client.rs
  core/tls-websocket-server/Cargo.toml
  core/tls-websocket-server/src/stream_state.rs
  core/tls-websocket-server/src/ws_server.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/rust-toolchain.toml
  enclave-runtime/src/tls_ra/tls_ra_client.rs
  enclave-runtime/src/tls_ra/tls_ra_server.rs
  rust-sgx-sdk/common/inc/mbusafecrt.h
  rust-sgx-sdk/common/inc/string.h
  rust-sgx-sdk/edl/sgx_fd.edl
  rust-sgx-sdk/version
  rust-toolchain.toml
  service/src/enclave/tls_ra.rs
  service/src/ocall_bridge/remote_attestation_ocall.rs
  service/src/sync_state.rs
  service/src/teeracle/teeracle_metrics.rs
  sidechain/peer-fetch/src/untrusted_peer_fetch.rs
  sidechain/validateer-fetch/src/validateer.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E3-hardmerge

#1092 remove obsolete `check_fmt_log.sh` and `search-replace-dependencies.sh`
  ci/check_fmt_log.sh
  scripts/search-replace-dependencies.sh
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1093 Add minor documentation to the demo scripts
  cli/demo_direct_call.sh
  cli/demo_direct_call_2_workers.sh
  cli/demo_indirect_invocation.sh
  cli/demo_shielding_unshielding.sh
  cli/demo_sidechain.sh
  cli/demo_smart_contract.sh
  cli/demo_teeracle_whitelist.sh
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1078 Introduce ParentchainHandlers inside the enclave
  Cargo.lock
  core-primitives/enclave-api/Cargo.toml
  core-primitives/enclave-api/src/enclave_base.rs
  core/parentchain/block-import-dispatcher/src/error.rs
  core/parentchain/block-import-dispatcher/src/immediate_dispatcher.rs
  core/parentchain/block-import-dispatcher/src/lib.rs
  core/parentchain/block-import-dispatcher/src/trigger_parentchain_block_import_mock.rs
  core/parentchain/block-import-dispatcher/src/triggered_dispatcher.rs
  core/parentchain/light-client/src/io.rs
  core/parentchain/light-client/src/light_client_init_params.rs
  core/parentchain/parentchain-crate/Cargo.toml
  core/parentchain/parentchain-crate/src/lib.rs
  core/parentchain/parentchain-crate/src/primitives.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/attestation.rs
  enclave-runtime/src/error.rs
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/initialization.rs
  enclave-runtime/src/initialization/mod.rs
  enclave-runtime/src/initialization/parentchain/common.rs
  enclave-runtime/src/initialization/parentchain/mod.rs
  enclave-runtime/src/initialization/parentchain/parachain.rs
  enclave-runtime/src/initialization/parentchain/solochain.rs
  enclave-runtime/src/lib.rs
  enclave-runtime/src/rpc/rpc_response_channel.rs
  enclave-runtime/src/teeracle/mod.rs
  enclave-runtime/src/tls_ra/tests.rs
  enclave-runtime/src/tls_ra/tls_ra_client.rs
  enclave-runtime/src/tls_ra/tls_ra_server.rs
  enclave-runtime/src/top_pool_execution.rs
  enclave-runtime/src/utils.rs
  service/Cargo.toml
  service/src/main.rs
  service/src/parentchain_handler.rs
  service/src/tests/mocks/enclave_api_mock.rs
  service/src/tests/parentchain_handler_test.rs
  sidechain/consensus/aura/src/block_importer.rs
  sidechain/consensus/aura/src/lib.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1101 Minor itc-light-client cleanup
  core/parentchain/light-client/src/finality.rs
  core/parentchain/light-client/src/justification.rs
  core/parentchain/light-client/src/light_validation.rs
  core/parentchain/light-client/src/light_validation_state.rs
  core/parentchain/light-client/src/state.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1095 State handling refactoring: Reduce state cloning
  core-primitives/stf-executor/src/executor.rs
  core-primitives/stf-executor/src/executor_tests.rs
  core-primitives/stf-executor/src/traits.rs
  core-primitives/stf-state-handler/src/handle_state.rs
  core-primitives/stf-state-handler/src/state_handler.rs
  core-primitives/stf-state-handler/src/test/sgx_tests.rs
  core-primitives/test/src/mock/handle_state_mock.rs
  core-primitives/top-pool-author/src/author_tests.rs
  docker/docker-compose.yml
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/test/mocks/types.rs
  enclave-runtime/src/test/sidechain_aura_tests.rs
  enclave-runtime/src/test/sidechain_event_tests.rs
  enclave-runtime/src/test/tests_main.rs
  enclave-runtime/src/tls_ra/seal_handler.rs
  sidechain/block-composer/src/block_composer.rs
  sidechain/consensus/aura/src/block_importer.rs
  sidechain/consensus/aura/src/slot_proposer.rs
  sidechain/consensus/aura/src/test/block_importer_tests.rs
  sidechain/consensus/aura/src/verifier.rs
  sidechain/consensus/common/src/block_import.rs
  sidechain/consensus/common/src/test/mocks/block_importer_mock.rs
  sidechain/state/src/impls.rs
  sidechain/state/src/lib.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, P5-sometimesoon, F7-optimization, E0-breaksnothing

#1107 Remove obsolete and unused initialization.rs
  enclave-runtime/src/initialization/initialization.rs
Labels: A0-core, B0-silent, C1-low 📌, P7-nicetohave, F6-refactor, E0-breaksnothing
