Repository integritee-network/worker, pull requests merged in 2022-09, with the labels that each got.

#983 Rename sidechain block gossip to broadcast
  docs/diagramms/block_import_sequence.svg
  enclave-runtime/src/top_pool_execution.rs
  service/src/main.rs
  service/src/ocall_bridge/component_factory.rs
  service/src/ocall_bridge/sidechain_ocall.rs
  service/src/sync_block_broadcaster.rs
  service/src/tests/mocks/broadcast_blocks_mock.rs
  service/src/tests/mocks/mod.rs
  service/src/worker.rs
  sidechain/consensus/common/src/peer_block_sync.rs
  sidechain/storage/src/interface.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#989 Check remaining time before executing any calls
  core-primitives/stf-executor/src/executor.rs
  core-primitives/stf-executor/src/executor_tests.rs
  enclave-runtime/src/test/tests_main.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#950 Compile cli anytime
  Makefile
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#978 Do not enforce teeracle and sidechain pallet inclusion in node-runtime
  Makefile
  cli/Cargo.toml
  cli/src/commands.rs
  cli/src/exchange_oracle/commands/add_to_whitelist.rs
  cli/src/exchange_oracle/commands/listen_to_exchange.rs
  cli/src/exchange_oracle/commands/mod.rs
  cli/src/exchange_oracle/mod.rs
  cli/src/main.rs
  service/src/main.rs
Labels: A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing

#979 Refactoring: Remove top-pool-executor crate and send_state from top pool
  Cargo.lock
  Cargo.toml
  core-primitives/top-pool-author/src/author.rs
  core-primitives/top-pool-author/src/author_tests.rs
  core-primitives/top-pool-author/src/error.rs
  core-primitives/top-pool-author/src/mocks.rs
  core-primitives/top-pool-author/src/traits.rs
  core-primitives/top-pool/src/basic_pool.rs
  core-primitives/top-pool/src/mocks/trusted_operation_pool_mock.rs
  core-primitives/top-pool/src/primitives.rs
  core/offchain-worker-executor/src/executor.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/global_components.rs
  enclave-runtime/src/initialization.rs
  enclave-runtime/src/test/mocks/types.rs
  enclave-runtime/src/test/sidechain_aura_tests.rs
  enclave-runtime/src/test/tests_main.rs
  enclave-runtime/src/test/top_pool_tests.rs
  enclave-runtime/src/top_pool_execution.rs
  sidechain/consensus/aura/Cargo.toml
  sidechain/consensus/aura/src/block_importer.rs
  sidechain/consensus/aura/src/proposer_factory.rs
  sidechain/consensus/aura/src/slot_proposer.rs
  sidechain/consensus/aura/src/test/block_importer_tests.rs
  sidechain/sidechain-crate/Cargo.toml
  sidechain/sidechain-crate/src/lib.rs
  sidechain/top-pool-executor/Cargo.toml
  sidechain/top-pool-executor/src/call_operator.rs
  sidechain/top-pool-executor/src/call_operator_mock.rs
  sidechain/top-pool-executor/src/error.rs
  sidechain/top-pool-executor/src/getter_operator.rs
  sidechain/top-pool-executor/src/lib.rs
Labels: S2-CallPool, A0-core, C1-low 📌, E3-dependencies, P5-sometimesoon, F6-refactor

#995 Add sidechain block number to parentchain block sync output
  sidechain/consensus/slots/src/lib.rs
Labels: A3-sidechain, B1-releasenotes, C1-low 📌, E0-breaksnothing

#999 [Readme] add section referring to the new gitbook
  README.md
Labels: B0-silent, E0-breaksnothing

#1005 set crate version to 0.9.0 to be consistent with SDK release 0.9.0.
  Cargo.lock
  app-libs/exchange-oracle/Cargo.toml
  app-libs/sgx-runtime/Cargo.toml
  app-libs/stf/Cargo.toml
  cli/Cargo.toml
  core-primitives/enclave-api/Cargo.toml
  core-primitives/enclave-api/ffi/Cargo.toml
  core-primitives/enclave-metrics/Cargo.toml
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/hashing/Cargo.toml
  core-primitives/networking-utils/Cargo.toml
  core-primitives/node-api/Cargo.toml
  core-primitives/node-api/api-client-extensions/Cargo.toml
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/node-api/factory/Cargo.toml
  core-primitives/node-api/metadata-provider/Cargo.toml
  core-primitives/node-api/metadata/Cargo.toml
  core-primitives/ocall-api/Cargo.toml
  core-primitives/primitives-cache/Cargo.toml
  core-primitives/rpc/Cargo.toml
  core-primitives/settings/Cargo.toml
  core-primitives/sgx/crypto/Cargo.toml
  core-primitives/stf-executor/Cargo.toml
  core-primitives/stf-state-handler/Cargo.toml
  core-primitives/stf-state-observer/Cargo.toml
  core-primitives/storage/Cargo.toml
  core-primitives/substrate-sgx/externalities/Cargo.toml
  core-primitives/teerex-storage/Cargo.toml
  core-primitives/test/Cargo.toml
  core-primitives/time-utils/Cargo.toml
  core-primitives/top-pool-author/Cargo.toml
  core-primitives/top-pool/Cargo.toml
  core-primitives/types/Cargo.toml
  core-primitives/utils/Cargo.toml
  core/direct-rpc-server/Cargo.toml
  core/offchain-worker-executor/Cargo.toml
  core/parentchain/block-import-dispatcher/Cargo.toml
  core/parentchain/block-importer/Cargo.toml
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/light-client/Cargo.toml
  core/parentchain/parentchain-crate/Cargo.toml
  core/parentchain/test/Cargo.toml
  core/rest-client/Cargo.toml
  core/rpc-client/Cargo.toml
  core/rpc-server/Cargo.toml
  core/tls-websocket-server/Cargo.toml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  sidechain/block-composer/Cargo.toml
  sidechain/consensus/aura/Cargo.toml
  sidechain/consensus/common/Cargo.toml
  sidechain/consensus/slots/Cargo.toml
  sidechain/peer-fetch/Cargo.toml
  sidechain/rpc-handler/Cargo.toml
  sidechain/sidechain-crate/Cargo.toml
  sidechain/state/Cargo.toml
  sidechain/storage/Cargo.toml
  sidechain/test/Cargo.toml
  sidechain/validateer-fetch/Cargo.toml
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1008 remove aura dev setting `allow_delayed_proposal`
  enclave-runtime/src/top_pool_execution.rs
  sidechain/consensus/aura/src/lib.rs
  sidechain/consensus/slots/src/lib.rs
  sidechain/consensus/slots/src/mocks.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1009 [CI] add PR label check
  .github/workflows/check_labels.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1018 GitHub Actions: CI label checker enhancement
  .github/workflows/check_labels.yml
  .github/workflows/label-checker.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse, D0-easymerge

#1014 Make clippy happy - TrackedMap
  core-primitives/top-pool/src/ready.rs
  core-primitives/top-pool/src/tracked_map.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing, D0-easymerge

#997 Add polkadot_update.sh script
  scripts/polkadot_update.sh
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse, D0-easymerge

#1010 Add block number to ProcessedParentchainBlock Event
  Cargo.lock
  cli/src/base_cli/commands/listen.rs
  cli/src/trusted_operation.rs
  core/parentchain/indirect-calls-executor/src/indirect_calls_executor.rs
  docker/docker-compose.yml
  enclave-runtime/Cargo.lock
  service/src/main.rs
Labels: A0-core, A1-cli, B1-releasenotes, C1-low 📌, E6-parentchain

#998 Add cargo.toml formatting with taplo
  .github/workflows/build_and_test.yml
  .taplo.toml
  Cargo.toml
  app-libs/exchange-oracle/Cargo.toml
  app-libs/sgx-runtime/Cargo.toml
  app-libs/stf/Cargo.toml
  cli/Cargo.toml
  core-primitives/block-import-queue/Cargo.toml
  core-primitives/enclave-api/Cargo.toml
  core-primitives/enclave-api/ffi/Cargo.toml
  core-primitives/enclave-metrics/Cargo.toml
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/node-api/Cargo.toml
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/node-api/metadata-provider/Cargo.toml
  core-primitives/nonce-cache/Cargo.toml
  core-primitives/primitives-cache/Cargo.toml
  core-primitives/rpc/Cargo.toml
  core-primitives/sgx/crypto/Cargo.toml
  core-primitives/sgx/io/Cargo.toml
  core-primitives/stf-executor/Cargo.toml
  core-primitives/stf-state-handler/Cargo.toml
  core-primitives/stf-state-observer/Cargo.toml
  core-primitives/storage/Cargo.toml
  core-primitives/substrate-sgx/externalities/Cargo.toml
  core-primitives/substrate-sgx/sp-io/Cargo.toml
  core-primitives/test/Cargo.toml
  core-primitives/top-pool-author/Cargo.toml
  core-primitives/top-pool/Cargo.toml
  core-primitives/types/Cargo.toml
  core/direct-rpc-server/Cargo.toml
  core/offchain-worker-executor/Cargo.toml
  core/parentchain/block-import-dispatcher/Cargo.toml
  core/parentchain/block-importer/Cargo.toml
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/light-client/Cargo.toml
  core/parentchain/test/Cargo.toml
  core/rest-client/Cargo.toml
  core/rpc-server/Cargo.toml
  core/tls-websocket-server/Cargo.toml
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  sidechain/block-composer/Cargo.toml
  sidechain/block-verification/Cargo.toml
  sidechain/consensus/aura/Cargo.toml
  sidechain/consensus/common/Cargo.toml
  sidechain/consensus/slots/Cargo.toml
  sidechain/peer-fetch/Cargo.toml
  sidechain/primitives/Cargo.toml
  sidechain/rpc-handler/Cargo.toml
  sidechain/state/Cargo.toml
  sidechain/validateer-fetch/Cargo.toml
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1022 [CI] add automatic draft release generation
  .github/workflows/publish-draft-release.yml
  scripts/changelog/.gitignore
  scripts/changelog/Gemfile
  scripts/changelog/Gemfile.lock
  scripts/changelog/README.md
  scripts/changelog/bin/changelog
  scripts/changelog/digests/.gitignore
  scripts/changelog/digests/.gitkeep
  scripts/changelog/lib/changelog.rb
  scripts/changelog/templates/_free_notes.md.tera
  scripts/changelog/templates/challenge_level.md.tera
  scripts/changelog/templates/change.md.tera
  scripts/changelog/templates/changes.md.tera
  scripts/changelog/templates/changes_applibs.md.tera
  scripts/changelog/templates/changes_client.md.tera
  scripts/changelog/templates/changes_core.md.tera
  scripts/changelog/templates/changes_evm.md.tera
  scripts/changelog/templates/changes_misc.md.tera
  scripts/changelog/templates/changes_offchain.md.tera
  scripts/changelog/templates/changes_sidechain.md.tera
  scripts/changelog/templates/changes_teeracle.md.tera
  scripts/changelog/templates/debug.md.tera
  scripts/changelog/templates/global_challenge_level.md.tera
  scripts/changelog/templates/global_priority.md.tera
  scripts/changelog/templates/high_priority.md.tera
  scripts/changelog/templates/pre_release.md.tera
  scripts/changelog/templates/template.md.tera
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse
