Repository integritee-network/worker, pull requests merged in 2022-10, with the labels that each got.

#1030 Implement `next_key` in SGX `sp-io`
  core-primitives/substrate-sgx/externalities/src/lib.rs
  core-primitives/substrate-sgx/sp-io/src/lib.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1032 Rename label `E3-dependencies` to `E3-hardmerge`
  .github/workflows/check_labels.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1029 Benchmark getter execution and some minor improvements
  .dockerignore
  .github/workflows/build_and_test.yml
  Dockerfile
  bin/end.fullchain
  bin/end.rsa
  cli/src/benchmark/mod.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
  core-primitives/stf-executor/src/getter_executor.rs
  core-primitives/top-pool-author/src/author.rs
  core/tls-websocket-server/src/connection.rs
  core/tls-websocket-server/src/ws_server.rs
  docker/README.md
  local-setup/py/helpers.py
  sidechain/consensus/aura/src/block_importer.rs
Labels: A0-core, A3-sidechain, B0-silent, C1-low 📌, E0-breaksnothing

#1033 Update cached nonce when creating extrinsic for registering enclave with RA
  enclave-runtime/src/attestation.rs
Labels: A0-core, B1-releasenotes, C3-medium 📣, E0-breaksnothing

#1041 Delete outdated trusted-rpc-interface.md
  docs/trusted-rpc-interface.md
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#963 Generate and reset events with `sp-io::append()` and `sp_io::clear_prefix()`
  Cargo.lock
  app-libs/stf/src/helpers.rs
  app-libs/stf/src/stf_sgx.rs
  core-primitives/stf-executor/src/mocks.rs
  core-primitives/stf-interface/src/mocks.rs
  core-primitives/stf-interface/src/sudo_pallet.rs
  core-primitives/stf-interface/src/system_pallet.rs
  core-primitives/substrate-sgx/externalities/src/lib.rs
  core-primitives/substrate-sgx/sp-io/src/lib.rs
  core-primitives/test/src/mock/handle_state_mock.rs
  core/offchain-worker-executor/Cargo.toml
  core/offchain-worker-executor/src/executor.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/global_components.rs
  enclave-runtime/src/initialization.rs
  enclave-runtime/src/test/mod.rs
  enclave-runtime/src/test/sidechain_aura_tests.rs
  enclave-runtime/src/test/sidechain_event_tests.rs
  enclave-runtime/src/test/tests_main.rs
  enclave-runtime/src/tls_ra/seal_handler.rs
  sidechain/consensus/aura/src/slot_proposer.rs
  sidechain/state/src/impls.rs
  sidechain/state/src/lib.rs
Labels: A0-core, A2-applibs, A3-sidechain, A4-offchain, B1-releasenotes, C3-medium 📣, E0-breaksnothing

#971 Add attestation handler component
  Cargo.lock
  Cargo.toml
  core-primitives/attestation-handler/AttestationReportSigningCACert.pem
  core-primitives/attestation-handler/Cargo.toml
  core-primitives/attestation-handler/src/attestation_handler.rs
  core-primitives/attestation-handler/src/cert.rs
  core-primitives/attestation-handler/src/error.rs
  core-primitives/attestation-handler/src/lib.rs
  core-primitives/hashing/Cargo.toml
  core-primitives/hashing/src/lib.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/attestation.rs
  enclave-runtime/src/error.rs
  enclave-runtime/src/global_components.rs
  enclave-runtime/src/initialization.rs
  enclave-runtime/src/lib.rs
  enclave-runtime/src/test/cert_tests.rs
  enclave-runtime/src/test/tests_main.rs
  enclave-runtime/src/tls_ra/authentication.rs
  enclave-runtime/src/tls_ra/tls_ra_client.rs
  enclave-runtime/src/tls_ra/tls_ra_server.rs
  enclave-runtime/src/utils.rs
Labels: A0-core, B0-silent, C1-low 📌, F6-refactor, E0-breaksnothing

#1061 Removed unused dependencies in crates
  Cargo.lock
  core-primitives/top-pool-author/Cargo.toml
  core/tls-websocket-server/Cargo.toml
  enclave-runtime/Cargo.lock
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1059 Enhance benchmark to use increasing nonce
  cli/src/benchmark/mod.rs
  cli/src/trusted_operation.rs
Labels: A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1064 Introduce `ParentchainHandler` on untrusted side
  core-primitives/node-api/api-client-extensions/src/chain.rs
  service/src/error.rs
  service/src/main.rs
  service/src/parentchain_block_syncer.rs
  service/src/parentchain_handler.rs
  service/src/sidechain_setup.rs
  service/src/tests/mocks/enclave_api_mock.rs
  service/src/tests/mocks/mod.rs
  service/src/tests/mocks/parentchain_api_mock.rs
  service/src/tests/mocks/sidechain_api_mock.rs
  service/src/tests/mod.rs
  service/src/tests/parentchain_handler_test.rs
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1038 Refactoring of in-memory state I/O
  Cargo.lock
  core-primitives/stf-state-handler/src/in_memory_state_file_io.rs
  core-primitives/stf-state-handler/src/lib.rs
  core-primitives/stf-state-handler/src/state_snapshot_repository.rs
  core-primitives/stf-state-handler/src/state_snapshot_repository_loader.rs
  core-primitives/stf-state-handler/src/test/sgx_tests.rs
  core-primitives/substrate-sgx/externalities/Cargo.toml
  core-primitives/substrate-sgx/externalities/src/lib.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/global_components.rs
  enclave-runtime/src/initialization.rs
  enclave-runtime/src/test/tests_main.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1052 core-primitives: add new crate `sgx-runtime-primitives`
  Cargo.lock
  Cargo.toml
  app-libs/sgx-runtime/Cargo.toml
  app-libs/sgx-runtime/src/lib.rs
  app-libs/stf/src/stf_sgx_primitives.rs
  core-primitives/sgx-runtime-primitives/Cargo.toml
  core-primitives/sgx-runtime-primitives/src/constants.rs
  core-primitives/sgx-runtime-primitives/src/lib.rs
  core-primitives/sgx-runtime-primitives/src/types.rs
  core-primitives/stf-interface/src/mocks.rs
  core-primitives/top-pool/src/pool.rs
  core-primitives/types/Cargo.toml
  core-primitives/types/src/lib.rs
  enclave-runtime/Cargo.lock
Labels: A0-core, A2-applibs, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1071 GHA: fix deprecated commands
  .github/workflows/build_and_test.yml
  .github/workflows/delete-release.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1013 Propose every nth block as finality candidate instead of all the blocks
  Cargo.lock
  app-libs/sgx-runtime/Cargo.toml
  app-libs/stf/Cargo.toml
  cli/Cargo.toml
  core-primitives/settings/src/lib.rs
  docker/docker-compose.yml
  enclave-runtime/Cargo.lock
  service/Cargo.toml
  sidechain/block-composer/Cargo.toml
  sidechain/block-composer/src/block_composer.rs
  sidechain/consensus/common/Cargo.toml
  sidechain/consensus/common/src/block_import_confirmation_handler.rs
  sidechain/primitives/src/traits/mod.rs
  sidechain/primitives/src/types/block.rs
  sidechain/primitives/src/types/header.rs
  sidechain/rpc-handler/src/import_block_api.rs
  sidechain/test/src/sidechain_header_builder.rs
Labels: A3-sidechain, B1-releasenotes, C3-medium 📣, E3-hardmerge

#1083 Fix state provisioning bug when reading large byte buffers
  Cargo.lock
  core-primitives/stf-state-handler/Cargo.toml
  core-primitives/stf-state-handler/src/file_io.rs
  core-primitives/stf-state-handler/src/state_snapshot_repository.rs
  core-primitives/stf-state-handler/src/test/sgx_tests.rs
  core-primitives/test/src/mock/handle_state_mock.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/global_components.rs
  enclave-runtime/src/initialization.rs
  enclave-runtime/src/test/tests_main.rs
  enclave-runtime/src/tls_ra/mod.rs
  enclave-runtime/src/tls_ra/seal_handler.rs
  enclave-runtime/src/tls_ra/tests.rs
  enclave-runtime/src/tls_ra/tls_ra_client.rs
  enclave-runtime/src/tls_ra/tls_ra_server.rs
  service/src/main.rs
Labels: F2-bug, A0-core, B1-releasenotes, C3-medium 📣, E0-breaksnothing
