Repository integritee-network/worker, pull requests merged in 2023-09, with the labels that each got.

#1443 [Multiparentchain] add support for third parentchain `Target_B`
  app-libs/stf/src/stf_sgx.rs
  cli/test_shield_on_target_nodes_with_transfer_to_alice.sh
  core-primitives/settings/src/lib.rs
  core-primitives/types/src/parentchain.rs
  core/parentchain/block-importer/src/block_importer.rs
  core/parentchain/indirect-calls-executor/src/filter_metadata.rs
  core/parentchain/light-client/src/io.rs
  core/parentchain/light-client/src/light_validation.rs
  enclave-runtime/src/error.rs
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/mod.rs
  enclave-runtime/src/initialization/parentchain/common.rs
  enclave-runtime/src/initialization/parentchain/mod.rs
  enclave-runtime/src/initialization/parentchain/target_b_parachain.rs
  enclave-runtime/src/initialization/parentchain/target_b_solochain.rs
  enclave-runtime/src/lib.rs
  enclave-runtime/src/utils.rs
  local-setup/config/three-nodes-one-worker.json
  local-setup/py/worker.py
  local-setup/tmux_logger_three_nodes.sh
  service/src/cli.yml
  service/src/config.rs
  service/src/main.rs
  service/src/ocall_bridge/bridge_api.rs
  service/src/ocall_bridge/component_factory.rs
  service/src/ocall_bridge/worker_on_chain_ocall.rs
  service/src/parentchain_handler.rs
  service/src/setup.rs
  service/src/tests/commons.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1436 [cli] register TCB info
  Cargo.lock
  cli/Cargo.toml
  cli/README.md
  cli/src/base_cli/commands/mod.rs
  cli/src/base_cli/commands/register_tcb_info.rs
  cli/src/base_cli/mod.rs
  cli/src/lib.rs
Labels: A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1437 cache MRENCLAVE during ocall as lazy static
  enclave-runtime/src/ocall/attestation_ocall.rs
Labels: A0-core, B0-silent, C1-low 📌, F7-optimization, E0-breaksnothing

#1452 update api-client to tag-0.14.0; fix parachain block import
  Cargo.lock
  cli/Cargo.toml
  cli/src/base_cli/commands/faucet.rs
  cli/src/base_cli/commands/listen.rs
  cli/src/base_cli/commands/register_tcb_info.rs
  cli/src/base_cli/commands/shield_funds.rs
  cli/src/base_cli/commands/transfer.rs
  cli/src/base_cli/mod.rs
  cli/src/command_utils.rs
  cli/src/lib.rs
  cli/src/oracle/commands/add_to_whitelist.rs
  cli/src/oracle/commands/listen_to_exchange.rs
  cli/src/oracle/commands/listen_to_oracle.rs
  cli/src/trusted_operation.rs
  core-primitives/enclave-api/src/sidechain.rs
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/extrinsics-factory/src/lib.rs
  core-primitives/node-api/api-client-extensions/Cargo.toml
  core-primitives/node-api/api-client-extensions/src/account.rs
  core-primitives/node-api/api-client-extensions/src/chain.rs
  core-primitives/node-api/api-client-extensions/src/lib.rs
  core-primitives/node-api/api-client-extensions/src/pallet_teerex.rs
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/node-api/api-client-types/src/lib.rs
  core-primitives/node-api/factory/src/lib.rs
  core-primitives/node-api/metadata/src/lib.rs
  core-primitives/storage/Cargo.toml
  core/rpc-client/Cargo.toml
  enclave-runtime/Cargo.lock
  local-setup/tmux_logger.sh
  service/Cargo.toml
  service/src/account_funding.rs
  service/src/main.rs
  service/src/ocall_bridge/worker_on_chain_ocall.rs
  service/src/parentchain_handler.rs
  service/src/teeracle/mod.rs
  service/src/tests/mock.rs
  service/src/tests/mocks/enclave_api_mock.rs
  service/src/tests/mocks/parentchain_api_mock.rs
  service/src/tests/mod.rs
  sidechain/storage/Cargo.toml
Labels: A0-core, B1-releasenotes, C7-high ❗️, E3-hardmerge

#1458 [GHA] bump integritee node to v1.1.3 and increase log levels
  .github/workflows/build_and_test.yml
  docker/README.md
  docker/docker-compose.yml
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1456 Added sidechain docker release
  .github/workflows/build_and_test.yml
  .github/workflows/publish-docker-sidechain.yml
Labels: F8-enhancement, A3-sidechain, B0-silent, C1-low 📌, E0-breaksnothing

#1455 [light-client] remove pending parentchain tx-inclusion check
  core/parentchain/block-importer/src/block_importer.rs
  core/parentchain/light-client/src/io.rs
  core/parentchain/light-client/src/lib.rs
  core/parentchain/light-client/src/light_validation.rs
  core/parentchain/light-client/src/light_validation_state.rs
  core/parentchain/light-client/src/mocks/validator_mock.rs
  core/parentchain/light-client/src/state.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing
