Repository integritee-network/worker, pull requests merged in 2023-06, with the labels that each got.

#1331 Introduce CLI for a configurable data-dir
  cli/tests/basic_tests.rs
  core-primitives/enclave-api/ffi/src/lib.rs
  core-primitives/enclave-api/src/enclave_base.rs
  enclave-runtime/Enclave.edl
  enclave-runtime/src/lib.rs
  local-setup/config/one-worker.json
  local-setup/config/two-workers.json
  service/src/cli.yml
  service/src/config.rs
  service/src/enclave/api.rs
  service/src/main.rs
  service/src/setup.rs
  service/src/tests/commons.rs
  service/src/tests/mocks/enclave_api_mock.rs
  service/src/tests/mod.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1329 Detect extrinsic failures on untrusted side
  service/src/main.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1332 Add trace logs for FMSPC and collateral
  Cargo.lock
  core-primitives/enclave-api/Cargo.toml
  core-primitives/enclave-api/src/remote_attestation.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1340 Revert "Revert "Revert "teeracle: change coingecko root certificate a…
  app-libs/oracle/src/certificates/baltimore_cyber_trust_root_v3.pem
  app-libs/oracle/src/certificates/lets_encrypt_root_cert.pem
  app-libs/oracle/src/oracle_sources/coin_gecko.rs
  core/rest-client/src/fixtures/baltimore_cyber_trust_root_v3.pem
  core/rest-client/src/fixtures/lets_encrypt_root_cert.pem
  core/rest-client/src/http_client.rs
Labels: A5-teeracle, B0-silent, C1-low 📌, E0-breaksnothing

#1342 Teeracle: add support for multiple root certificates
  app-libs/oracle/src/certificates/lets_encrypt_root_cert.pem
  app-libs/oracle/src/mock.rs
  app-libs/oracle/src/oracle_sources/coin_gecko.rs
  app-libs/oracle/src/oracle_sources/coin_market_cap.rs
  app-libs/oracle/src/oracle_sources/weather_oracle_source.rs
  app-libs/oracle/src/oracles/exchange_rate_oracle.rs
  app-libs/oracle/src/oracles/weather_oracle.rs
  app-libs/oracle/src/traits.rs
  core/rest-client/src/fixtures/lets_encrypt_root_cert.pem
  core/rest-client/src/http_client.rs
Labels: A5-teeracle, A2-applibs, B0-silent, C1-low 📌, E5-publicapi

#1341 Save only registry cache and index
  build.Dockerfile
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1346 Dcap debugging helpers
  core-primitives/enclave-api/src/remote_attestation.rs
  service/Cargo.toml
  service/src/main.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1345 introduce attesteer compiler flag to avoid marblerun in pure dcap mode
  service/src/main.rs
  service/src/prometheus_metrics.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1347 [integritee-service] fix clean-reset flag
  service/src/setup.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1349 [integritee-service] introduce getters for `RunConfig` and make fields private
  core-primitives/settings/src/lib.rs
  service/src/config.rs
  service/src/main.rs
  service/src/teeracle/mod.rs
  service/src/utils.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1348 Reregister Teeracle after a CLI configurable period
  core-primitives/settings/src/lib.rs
  service/src/cli.yml
  service/src/config.rs
  service/src/main.rs
  service/src/teeracle/mod.rs
  service/src/teeracle/schedule_periodic.rs
Labels: A5-teeracle, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1353 Intermediate release won't make SDK release
  .github/workflows/build_and_test.yml
  .github/workflows/publish-draft-release.yml
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1354 Added new tag pattern
  .github/workflows/build_and_test.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1358 [local-setup] fix two workers setup by not running them with the same `--data-dir`
  local-setup/config/two-workers.json
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1357 Added dcap flag to teeracle #1191
  .github/workflows/build_and_test.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1369 Added teeracle helm chart sample #1360
  samples/teeracle/README.md
  samples/teeracle/install-teeracle.sh
  samples/teeracle/kubernetes/Chart.yaml
  samples/teeracle/kubernetes/templates/teeracle.yaml
  samples/teeracle/kubernetes/values.yaml
Labels: A5-teeracle, B0-silent, C1-low 📌, E0-breaksnothing

#1373 attesteer feature implies dcap
  service/Cargo.toml
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse
