Repository integritee-network/worker, pull requests merged in 2023-03, with the labels that each got.

#1196 Adding fork tree to worker
  Cargo.lock
  Cargo.toml
  sidechain/fork-tree/Cargo.toml
  sidechain/fork-tree/src/lib.rs
Labels: A3-sidechain, B0-silent, C1-low 📌, E0-breaksnothing

#1197 Adding queue builder helpers
  Cargo.lock
  core/rpc-server/src/tests.rs
  enclave-runtime/Cargo.lock
  service/src/ocall_bridge/ffi/fetch_sidechain_blocks_from_peer.rs
  service/src/ocall_bridge/sidechain_ocall.rs
  service/src/worker.rs
  sidechain/block-verification/src/lib.rs
  sidechain/consensus/aura/src/test/block_importer_tests.rs
  sidechain/consensus/aura/src/test/mocks/proposer_mock.rs
  sidechain/consensus/common/Cargo.toml
  sidechain/consensus/common/src/is_descendent_of_builder.rs
  sidechain/consensus/common/src/lib.rs
  sidechain/consensus/common/src/peer_block_sync.rs
  sidechain/consensus/common/src/test/mocks/block_import_queue_worker_mock.rs
  sidechain/peer-fetch/src/block_fetch_client.rs
  sidechain/storage/src/test_utils.rs
  sidechain/test/src/sidechain_block_builder.rs
Labels: F8-enhancement, A3-sidechain, B0-silent, C1-low 📌, E0-breaksnothing

#1189 Marblerun prometheus integration fixes
  Makefile
  enclave-runtime/src/attestation.rs
  service/src/main.rs
Labels: A5-teeracle, A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1204 teeracle: change coingecko root certificate as they moved to Let's Encrypt
  app-libs/oracle/src/certificates/baltimore_cyber_trust_root_v3.pem
  app-libs/oracle/src/certificates/lets_encrypt_root_cert.pem
  app-libs/oracle/src/oracle_sources/coin_gecko.rs
  core/rest-client/src/fixtures/baltimore_cyber_trust_root_v3.pem
  core/rest-client/src/fixtures/lets_encrypt_root_cert.pem
  core/rest-client/src/http_client.rs
  enclave-runtime/src/test/tests_main.rs
Labels: A5-teeracle, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1198 Adding is_descendent_of defenitions and fork tree testing with blockqueues
  sidechain/consensus/common/src/header_db.rs
  sidechain/consensus/common/src/is_descendant_of_builder.rs
  sidechain/consensus/common/src/is_descendent_of_builder.rs
  sidechain/consensus/common/src/lib.rs
  sidechain/consensus/common/src/test/mocks/block_import_queue_worker_mock.rs
  sidechain/consensus/common/src/test/mocks/mod.rs
  sidechain/fork-tree/src/lib.rs
Labels: F8-enhancement, A3-sidechain, B0-silent, C1-low 📌, E0-breaksnothing

#1207 Bump `integritee-dev` image, switch to Ubuntu 22.04 Jammy
  .github/workflows/build_and_test.yml
  .github/workflows/delete-release.yml
  .github/workflows/label-checker.yml
  .github/workflows/publish-docker-release.yml
  .github/workflows/publish-draft-release.yml
  Dockerfile
  build.Dockerfile
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1209 service: handle not running Marblerun Prometheus metrics server more gracefully
  service/src/main.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1217 gha: Node.js 12 depracation, bump cancel-action
  .github/workflows/build_and_test.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1218 Fix unchecked indexing in decode_hex
  core-primitives/utils/src/hex.rs
  sidechain/consensus/common/src/is_descendant_of_builder.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1223 Refactor indirect executor: make interpetation of parentchain extrinsics configurable
  Cargo.lock
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/node-api/api-client-types/src/lib.rs
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/indirect-calls-executor/src/executor.rs
  core/parentchain/indirect-calls-executor/src/executor/call_worker.rs
  core/parentchain/indirect-calls-executor/src/executor/mod.rs
  core/parentchain/indirect-calls-executor/src/executor/shield_funds.rs
  core/parentchain/indirect-calls-executor/src/filter_calls.rs
  core/parentchain/indirect-calls-executor/src/indirect_calls/call_worker.rs
  core/parentchain/indirect-calls-executor/src/indirect_calls/mod.rs
  core/parentchain/indirect-calls-executor/src/indirect_calls/shield_funds.rs
  core/parentchain/indirect-calls-executor/src/lib.rs
  core/parentchain/indirect-calls-executor/src/parentchain_extrinsic_parser.rs
  core/parentchain/indirect-calls-executor/src/traits.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/test/top_pool_tests.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1230 GHA: fix teeracle failure by increasing the update interval of the API
  .github/workflows/build_and_test.yml
  app-libs/oracle/src/oracle_sources/coin_gecko.rs
  app-libs/oracle/src/oracles/exchange_rate_oracle.rs
  core/rest-client/src/http_client.rs
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse
