Repository integritee-network/worker, pull requests merged in 2023-12, with the labels that each got.

#1512 support json-rpc request string id
  core-primitives/rpc/src/lib.rs
  core/direct-rpc-server/src/builders/rpc_response_builder.rs
  core/direct-rpc-server/src/rpc_connection_registry.rs
  core/direct-rpc-server/src/rpc_watch_extractor.rs
  core/rpc-server/src/mock.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1517 skip indirect invocations for initial sync of integritee parentchain
  Cargo.lock
  cli/Cargo.toml
  core-primitives/enclave-api/ffi/src/lib.rs
  core-primitives/enclave-api/src/enclave_base.rs
  core-primitives/enclave-api/src/sidechain.rs
  core-primitives/node-api/api-client-extensions/src/pallet_teerex.rs
  core-primitives/stf-interface/src/lib.rs
  core/parentchain/block-import-dispatcher/src/immediate_dispatcher.rs
  core/parentchain/block-import-dispatcher/src/lib.rs
  core/parentchain/block-import-dispatcher/src/triggered_dispatcher.rs
  core/parentchain/block-importer/src/block_importer.rs
  core/parentchain/parentchain-crate/src/primitives.rs
  docker/docker-compose.yml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/Enclave.edl
  enclave-runtime/src/initialization/parentchain/common.rs
  enclave-runtime/src/initialization/parentchain/integritee_parachain.rs
  enclave-runtime/src/initialization/parentchain/integritee_solochain.rs
  enclave-runtime/src/initialization/parentchain/mod.rs
  enclave-runtime/src/lib.rs
  enclave-runtime/src/tls_ra/tests.rs
  enclave-runtime/src/tls_ra/tls_ra_server.rs
  service/Cargo.toml
  service/src/cli.yml
  service/src/config.rs
  service/src/error.rs
  service/src/main_impl.rs
  service/src/parentchain_handler.rs
  service/src/setup.rs
  service/src/sidechain_setup.rs
  service/src/sync_state.rs
  service/src/tests/mock.rs
  service/src/tests/mocks/enclave_api_mock.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, F7-optimization, E0-breaksnothing

#1521 automatically init shard if primary worker and no shard exists onchain
  core/parentchain/block-importer/src/block_importer.rs
  core/parentchain/light-client/src/light_validation.rs
  enclave-runtime/src/lib.rs
  service/src/main_impl.rs
  service/src/parentchain_handler.rs
Labels: F8-enhancement, A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1532 peer discovery by shard status with flexible url prefix
  .github/workflows/build_and_test.yml
  Cargo.lock
  Cargo.toml
  app-libs/sgx-runtime/Cargo.toml
  app-libs/stf/Cargo.toml
  cli/Cargo.toml
  cli/src/trusted_base_cli/commands/get_shard.rs
  cli/src/trusted_base_cli/commands/get_shard_vault.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
  core-primitives/enclave-api/Cargo.toml
  core-primitives/extrinsics-factory/src/lib.rs
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/stf-executor/src/enclave_signer.rs
  core-primitives/stf-state-observer/src/error.rs
  core-primitives/stf-state-observer/src/mock.rs
  core-primitives/stf-state-observer/src/state_observer.rs
  core-primitives/types/Cargo.toml
  docker/docker-compose.yml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/lib.rs
  enclave-runtime/src/shard_config.rs
  enclave-runtime/src/tls_ra/tls_ra_client.rs
  service/Cargo.toml
  service/src/main_impl.rs
  service/src/ocall_bridge/sidechain_ocall.rs
  service/src/tests/mocks/update_worker_peers_mock.rs
  service/src/worker.rs
  service/src/worker_peers_updater.rs
  sidechain/consensus/common/Cargo.toml
  sidechain/consensus/common/src/peer_block_sync.rs
  sidechain/primitives/Cargo.toml
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1528 custom dependencies on parentchain runtimes to decode L1 Events
  Cargo.lock
  Cargo.toml
  app-libs/parentchain-interface/Cargo.toml
  app-libs/parentchain-interface/src/event_subscriber.rs
  app-libs/parentchain-interface/src/integritee/mod.rs
  app-libs/parentchain-interface/src/lib.rs
  app-libs/parentchain-interface/src/target_a/mod.rs
  app-libs/parentchain-interface/src/target_b/mod.rs
  app-libs/sgx-runtime/Cargo.toml
  cli/Cargo.toml
  cli/src/base_cli/commands/faucet.rs
  cli/src/base_cli/commands/listen.rs
  cli/src/base_cli/commands/shield_funds.rs
  cli/src/base_cli/commands/transfer.rs
  cli/src/command_utils.rs
  cli/src/error.rs
  cli/src/lib.rs
  cli/src/oracle/commands/listen_to_exchange.rs
  cli/src/oracle/commands/listen_to_oracle.rs
  cli/src/trusted_base_cli/commands/set_balance.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/commands/unshield_funds.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/node-api/api-client-types/src/lib.rs
  core-primitives/types/Cargo.toml
  core-primitives/types/src/parentchain.rs
  core/parentchain/parentchain-crate/src/primitives.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  service/src/main_impl.rs
  service/src/ocall_bridge/worker_on_chain_ocall.rs
  service/src/parentchain_handler.rs
  service/src/tests/mocks/parentchain_api_mock.rs
Labels: A0-core, A2-applibs, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1541 Ab/fix light client provisioning and unshielding
  app-libs/stf/src/trusted_call.rs
  cli/demo_shielding_unshielding_using_shard_vault.sh
  cli/demo_shielding_unshielding_using_shard_vault_on_target_a.sh
  core/rpc-server/src/lib.rs
  service/src/main_impl.rs
  service/src/sidechain_setup.rs
Labels: A0-core, B0-silent, C1-low 📌, E6-parentchain

#1550 got rid of runtime dependencies
  Cargo.lock
  app-libs/parentchain-interface/Cargo.toml
  app-libs/parentchain-interface/src/integritee/mod.rs
  app-libs/parentchain-interface/src/target_a/mod.rs
  app-libs/parentchain-interface/src/target_b/mod.rs
  cli/Cargo.toml
  cli/src/base_cli/commands/faucet.rs
  cli/src/base_cli/commands/shield_funds.rs
  cli/src/base_cli/commands/transfer.rs
  cli/src/command_utils.rs
  cli/src/trusted_base_cli/commands/set_balance.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/commands/unshield_funds.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  service/src/main_impl.rs
  service/src/parentchain_handler.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1551 cosmetics
  core-primitives/enclave-api/src/remote_attestation.rs
  core-primitives/types/src/parentchain.rs
  core/rpc-client/src/direct_client.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/attestation.rs
  enclave-runtime/src/lib.rs
  service/src/ocall_bridge/sidechain_ocall.rs
  service/src/parentchain_handler.rs
  service/src/worker.rs
  sidechain/block-verification/Cargo.toml
  sidechain/consensus/aura/src/slot_proposer.rs
  sidechain/consensus/common/src/block_import_confirmation_handler.rs
  sidechain/consensus/common/src/peer_block_sync.rs
  sidechain/consensus/slots/src/lib.rs
  sidechain/storage/src/storage.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1558 more robust sidechain block import logic
  Cargo.lock
  enclave-runtime/Cargo.lock
  sidechain/consensus/common/Cargo.toml
  sidechain/consensus/common/src/block_import_queue_worker.rs
  sidechain/consensus/common/src/lib.rs
  sidechain/consensus/common/src/peer_block_sync.rs
  sidechain/consensus/slots/src/lib.rs
Labels: A3-sidechain, B1-releasenotes, C1-low 📌, E0-breaksnothing
