Repository integritee-network/worker, pull requests merged in 2023-08, with the labels that each got.

#1399 Provision light-client in mutual remote attestation
  core/parentchain/light-client/src/concurrent_access.rs
  core/parentchain/light-client/src/io.rs
  core/parentchain/light-client/src/lib.rs
  core/parentchain/light-client/src/light_validation.rs
  core/parentchain/light-client/src/light_validation_state.rs
  core/parentchain/light-client/src/mocks/validator_mock_seal.rs
  core/parentchain/light-client/src/state.rs
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/mod.rs
  enclave-runtime/src/initialization/parentchain/parachain.rs
  enclave-runtime/src/initialization/parentchain/solochain.rs
  enclave-runtime/src/tls_ra/mocks.rs
  enclave-runtime/src/tls_ra/mod.rs
  enclave-runtime/src/tls_ra/seal_handler.rs
  enclave-runtime/src/tls_ra/tests.rs
  enclave-runtime/src/tls_ra/tls_ra_client.rs
  enclave-runtime/src/tls_ra/tls_ra_server.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1415 fix skip-ra with dcap
  enclave-runtime/src/attestation.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1355 Filtering and Identifying Transfer Events in Enclave
  Cargo.lock
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/indirect-calls-executor/src/event_filter.rs
  core/parentchain/indirect-calls-executor/src/executor.rs
  enclave-runtime/Cargo.lock
  scripts/test_transfer/README.md
  scripts/test_transfer/package-lock.json
  scripts/test_transfer/package.json
  scripts/test_transfer/transfer.js
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1416 Remove deprecated integritee-node images with `-ias` suffix
  .github/workflows/build_and_test.yml
  docker/docker-compose.yml
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1421 Remove debug message
  docker/entrypoint.sh
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1425 [GHA] fix sccache install failure
  build.Dockerfile
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1429 Ab/fix demos
  .github/workflows/build_and_test.yml
  Cargo.lock
  Dockerfile
  Jenkinsfile
  app-libs/sgx-runtime/Cargo.toml
  app-libs/stf/Cargo.toml
  build.Dockerfile
  cli/Cargo.toml
  cli/demo_direct_call.sh
  cli/demo_direct_call_2_workers.sh
  cli/demo_indirect_invocation.sh
  cli/demo_shielding_unshielding.sh
  cli/demo_sidechain.sh
  cli/demo_smart_contract.sh
  cli/demo_teeracle_generic.sh
  cli/demo_teeracle_whitelist.sh
  cli/src/lib.rs
  core-primitives/enclave-api/Cargo.toml
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/types/Cargo.toml
  docker/docker-compose.yml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  local-setup/py/helpers.py
  service/Cargo.toml
  service/src/cli.yml
  service/src/main.rs
Labels: F5-documentation, B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse
