Repository integritee-network/worker, pull requests merged in 2023-04, with the labels that each got.

#1268 teeracle: change coingecko certificate (authority) back
  app-libs/oracle/src/certificates/baltimore_cyber_trust_root_v3.pem
  app-libs/oracle/src/certificates/lets_encrypt_root_cert.pem
  app-libs/oracle/src/oracle_sources/coin_gecko.rs
  core/rest-client/src/fixtures/baltimore_cyber_trust_root_v3.pem
  core/rest-client/src/fixtures/lets_encrypt_root_cert.pem
  core/rest-client/src/http_client.rs
Labels: A5-teeracle, B0-silent, C1-low 📌, E0-breaksnothing

#1201 Attesteer RPC additions
  cli/src/attesteer/commands/mod.rs
  cli/src/attesteer/commands/send_dcap_quote.rs
  cli/src/attesteer/commands/send_ias_attestation.rs
  cli/src/attesteer/mod.rs
  cli/src/commands.rs
  cli/src/main.rs
  enclave-runtime/src/attestation.rs
  enclave-runtime/src/rpc/worker_api_direct.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1263 Update api-client to tag v0.9.0
  Cargo.lock
  cli/Cargo.toml
  cli/src/base_cli/commands/balance.rs
  cli/src/base_cli/commands/faucet.rs
  cli/src/base_cli/commands/listen.rs
  cli/src/base_cli/commands/shield_funds.rs
  cli/src/base_cli/commands/transfer.rs
  cli/src/base_cli/mod.rs
  cli/src/command_utils.rs
  cli/src/oracle/commands/add_to_whitelist.rs
  cli/src/oracle/commands/listen_to_exchange.rs
  cli/src/oracle/commands/listen_to_oracle.rs
  cli/src/trusted_operation.rs
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/node-api/api-client-extensions/Cargo.toml
  core-primitives/node-api/api-client-extensions/src/account.rs
  core-primitives/node-api/api-client-extensions/src/chain.rs
  core-primitives/node-api/api-client-extensions/src/lib.rs
  core-primitives/node-api/api-client-extensions/src/pallet_teerex.rs
  core-primitives/node-api/api-client-extensions/src/pallet_teerex_api_mock.rs
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/node-api/api-client-types/src/lib.rs
  core-primitives/node-api/factory/src/lib.rs
  core-primitives/node-api/metadata/Cargo.toml
  core-primitives/node-api/metadata/src/lib.rs
  core-primitives/stf-executor/Cargo.toml
  core-primitives/types/Cargo.toml
  core-primitives/types/src/lib.rs
  core-primitives/types/src/parentchain.rs
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/test/src/parentchain_block_builder.rs
  core/rpc-client/Cargo.toml
  core/rpc-client/src/direct_client.rs
  core/rpc-client/src/error.rs
  core/rpc-client/src/mock.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  service/src/account_funding.rs
  service/src/error.rs
  service/src/main.rs
  service/src/ocall_bridge/worker_on_chain_ocall.rs
  service/src/parentchain_handler.rs
  service/src/teeracle/mod.rs
  service/src/tests/mocks/parentchain_api_mock.rs
Labels: A0-core, A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1265 Update api-client to tag v0.10.0
  Cargo.lock
  cli/Cargo.toml
  cli/src/base_cli/commands/faucet.rs
  cli/src/base_cli/commands/listen.rs
  cli/src/base_cli/commands/shield_funds.rs
  cli/src/base_cli/commands/transfer.rs
  cli/src/error.rs
  cli/src/evm/commands/evm_call.rs
  cli/src/evm/commands/evm_create.rs
  cli/src/evm/commands/evm_read.rs
  cli/src/main.rs
  cli/src/oracle/commands/add_to_whitelist.rs
  cli/src/oracle/commands/listen_to_exchange.rs
  cli/src/oracle/commands/listen_to_oracle.rs
  cli/src/trusted_operation.rs
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/extrinsics-factory/src/lib.rs
  core-primitives/extrinsics-factory/src/mock.rs
  core-primitives/node-api/api-client-extensions/Cargo.toml
  core-primitives/node-api/api-client-extensions/src/account.rs
  core-primitives/node-api/api-client-extensions/src/chain.rs
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/node-api/api-client-types/src/lib.rs
  core-primitives/node-api/factory/src/lib.rs
  core-primitives/node-api/metadata/Cargo.toml
  core-primitives/stf-executor/Cargo.toml
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/indirect-calls-executor/src/executor.rs
  core/parentchain/indirect-calls-executor/src/parentchain_extrinsic_parser.rs
  core/rpc-client/Cargo.toml
  core/rpc-client/src/mock.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/parentchain/common.rs
  enclave-runtime/src/test/evm_pallet_tests.rs
  enclave-runtime/src/test/on_chain_ocall_tests.rs
  enclave-runtime/src/test/top_pool_tests.rs
  service/Cargo.toml
  service/src/account_funding.rs
  service/src/error.rs
  service/src/main.rs
  service/src/ocall_bridge/worker_on_chain_ocall.rs
  service/src/teeracle/mod.rs
  sidechain/peer-fetch/src/error.rs
Labels: A0-core, A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1271 favor imports from `api-client-types` crate & fix api-client features; remove unused jsonrpsee dependency
  Cargo.lock
  cli/Cargo.toml
  core-primitives/node-api/api-client-extensions/Cargo.toml
  core-primitives/node-api/api-client-types/src/lib.rs
  core-primitives/node-api/metadata/Cargo.toml
  core-primitives/node-api/metadata/src/error.rs
  core-primitives/node-api/metadata/src/lib.rs
  core-primitives/stf-executor/Cargo.toml
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/indirect-calls-executor/src/executor.rs
  core/rpc-client/Cargo.toml
  core/rpc-client/src/direct_client.rs
  core/rpc-client/src/error.rs
  core/rpc-client/src/mock.rs
  core/rpc-client/src/ws_client.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/test/on_chain_ocall_tests.rs
  enclave-runtime/src/test/top_pool_tests.rs
  service/Cargo.toml
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1276 Revert "Revert "teeracle: change coingecko root certificate as they m…
  app-libs/oracle/src/certificates/baltimore_cyber_trust_root_v3.pem
  app-libs/oracle/src/certificates/lets_encrypt_root_cert.pem
  app-libs/oracle/src/oracle_sources/coin_gecko.rs
  core/rest-client/src/fixtures/baltimore_cyber_trust_root_v3.pem
  core/rest-client/src/fixtures/lets_encrypt_root_cert.pem
  core/rest-client/src/http_client.rs
Labels: A5-teeracle, B0-silent, C1-low 📌, E0-breaksnothing

#1222 Sgx runner
  .github/workflows/build_and_test.yml
  .github/workflows/delete-release.yml
  .github/workflows/label-checker.yml
  .github/workflows/publish-docker-release.yml
  .github/workflows/publish-draft-release.yml
  build.Dockerfile
  docker/README.md
  docker/demo-direct-call.yml
  docker/demo-indirect-invocation.yml
  docker/demo-sidechain.yml
  docker/demo-smart-contract.yml
  docker/demo-teeracle-generic.yml
  docker/demo-teeracle.yml
  docker/docker-compose.yml
  docker/fork-inducer.yml
  docker/sidechain-benchmark.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1264 Pass events and events proof to enclave
  Cargo.lock
  core-primitives/enclave-api/Cargo.toml
  core-primitives/enclave-api/ffi/src/lib.rs
  core-primitives/enclave-api/src/sidechain.rs
  core-primitives/node-api/api-client-extensions/src/chain.rs
  enclave-runtime/Enclave.edl
  enclave-runtime/src/lib.rs
  service/Cargo.toml
  service/src/parentchain_handler.rs
  service/src/tests/mocks/enclave_api_mock.rs
  service/src/tests/mocks/parentchain_api_mock.rs
Labels: A3-sidechain, B1-releasenotes, C3-medium 📣, E3-hardmerge

#1229 Better error logs for remote attestation + make skip_ra work for dcap
  .github/workflows/build_and_test.yml
  core-primitives/attestation-handler/src/attestation_handler.rs
  service/src/main.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1283 Teeracle: have updates run at start as well
  service/src/teeracle/mod.rs
Labels: A5-teeracle, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1287 Minor light-client refactor
  core/offchain-worker-executor/src/executor.rs
  core/parentchain/block-importer/src/block_importer.rs
  core/parentchain/light-client/src/concurrent_access.rs
  core/parentchain/light-client/src/error.rs
  core/parentchain/light-client/src/io.rs
  core/parentchain/light-client/src/lib.rs
  core/parentchain/light-client/src/light_validation.rs
  core/parentchain/light-client/src/light_validation_state.rs
  core/parentchain/light-client/src/mocks/validator_mock.rs
  core/parentchain/light-client/src/mocks/validator_mock_seal.rs
  enclave-runtime/src/initialization/parentchain/parachain.rs
  enclave-runtime/src/initialization/parentchain/solochain.rs
  enclave-runtime/src/top_pool_execution.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E3-hardmerge
