Repository integritee-network/worker, pull requests merged in 2023-05, with the labels that each got.

#1294 [itc-parentchain-test] better re-exports to simplify imports
  core-primitives/stf-executor/src/executor_tests.rs
  core/parentchain/indirect-calls-executor/src/executor.rs
  core/parentchain/light-client/src/mocks/validator_mock.rs
  core/parentchain/light-client/src/mocks/validator_mock_seal.rs
  core/parentchain/test/src/lib.rs
  core/parentchain/test/src/parentchain_block_builder.rs
  core/parentchain/test/src/parentchain_header_builder.rs
  enclave-runtime/src/test/sidechain_aura_tests.rs
  enclave-runtime/src/test/sidechain_event_tests.rs
  enclave-runtime/src/test/top_pool_tests.rs
  service/src/tests/mocks/parentchain_api_mock.rs
  service/src/tests/parentchain_handler_test.rs
  sidechain/block-verification/src/lib.rs
  sidechain/consensus/aura/src/lib.rs
  sidechain/consensus/aura/src/test/block_importer_tests.rs
  sidechain/consensus/common/src/peer_block_sync.rs
  sidechain/consensus/slots/src/per_shard_slot_worker_tests.rs
  sidechain/consensus/slots/src/slots.rs
  sidechain/validateer-fetch/src/validateer.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1183 integritee-cli: separate into library and binary
  cli/src/base_cli/commands/balance.rs
  cli/src/base_cli/commands/faucet.rs
  cli/src/base_cli/commands/listen.rs
  cli/src/base_cli/commands/shield_funds.rs
  cli/src/base_cli/commands/transfer.rs
  cli/src/base_cli/mod.rs
  cli/src/benchmark/mod.rs
  cli/src/commands.rs
  cli/src/evm/commands/evm_call.rs
  cli/src/evm/commands/evm_command_utils.rs
  cli/src/evm/commands/evm_create.rs
  cli/src/evm/commands/evm_read.rs
  cli/src/evm/mod.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/trusted_base_cli/commands/balance.rs
  cli/src/trusted_base_cli/commands/nonce.rs
  cli/src/trusted_base_cli/commands/set_balance.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/commands/unshield_funds.rs
  cli/src/trusted_base_cli/mod.rs
  cli/src/trusted_cli.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
  cli/tests/basic_tests.rs
Labels: A1-cli, B1-releasenotes, C1-low 📌, E3-hardmerge

#1288 Configurable light-client db
  Cargo.lock
  core-primitives/sgx/temp-dir/Cargo.toml
  core-primitives/sgx/temp-dir/src/lib.rs
  core-primitives/sgx/temp-dir/src/test.rs
  core/parentchain/light-client/Cargo.toml
  core/parentchain/light-client/src/concurrent_access.rs
  core/parentchain/light-client/src/error.rs
  core/parentchain/light-client/src/io.rs
  core/parentchain/light-client/src/lib.rs
  core/parentchain/light-client/src/light_validation.rs
  core/parentchain/light-client/src/light_validation_state.rs
  core/parentchain/light-client/src/mocks/validator_mock_seal.rs
  core/parentchain/parentchain-crate/Cargo.toml
  core/parentchain/test/src/parentchain_block_builder.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/parentchain/parachain.rs
  enclave-runtime/src/initialization/parentchain/solochain.rs
  enclave-runtime/src/test/tests_main.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1301 Comment out weather oracle start with fixit todo and gh issue
  service/src/teeracle/mod.rs
Labels: A5-teeracle, B0-silent, C1-low 📌, E0-breaksnothing

#1306 Fix DCAP build in docker
  build.Dockerfile
  service/src/main.rs
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1272 Validate and Access all Parentchain Events in Enclave
  Cargo.lock
  Cargo.toml
  core-primitives/import-queue/Cargo.toml
  core-primitives/import-queue/src/error.rs
  core-primitives/import-queue/src/import_queue.rs
  core-primitives/import-queue/src/lib.rs
  core-primitives/node-api/api-client-extensions/src/chain.rs
  core-primitives/node-api/api-client-types/src/lib.rs
  core-primitives/node-api/metadata/src/lib.rs
  core-primitives/node-api/metadata/src/metadata_mocks.rs
  core-primitives/node-api/metadata/src/pallet_system.rs
  core/parentchain/block-import-dispatcher/Cargo.toml
  core/parentchain/block-import-dispatcher/src/error.rs
  core/parentchain/block-import-dispatcher/src/immediate_dispatcher.rs
  core/parentchain/block-import-dispatcher/src/lib.rs
  core/parentchain/block-import-dispatcher/src/triggered_dispatcher.rs
  core/parentchain/block-importer/src/block_importer.rs
  core/parentchain/block-importer/src/block_importer_mock.rs
  core/parentchain/block-importer/src/lib.rs
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/indirect-calls-executor/src/event_filter.rs
  core/parentchain/indirect-calls-executor/src/executor.rs
  core/parentchain/indirect-calls-executor/src/filter_metadata.rs
  core/parentchain/indirect-calls-executor/src/lib.rs
  core/parentchain/indirect-calls-executor/src/parentchain_parser.rs
  core/parentchain/indirect-calls-executor/src/traits.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/error.rs
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/parentchain/common.rs
  enclave-runtime/src/lib.rs
  enclave-runtime/src/test/top_pool_tests.rs
  service/Cargo.toml
  service/src/parentchain_handler.rs
  service/src/tests/mocks/parentchain_api_mock.rs
  sidechain/consensus/common/Cargo.toml
  sidechain/consensus/common/src/block_import_queue_worker.rs
  sidechain/consensus/common/src/error.rs
Labels: A0-core, A3-sidechain, B1-releasenotes, C7-high ❗️, E6-parentchain

#1319 Fix production feature propagation into the itp-attestation-handler
  core-primitives/attestation-handler/Cargo.toml
  enclave-runtime/Cargo.toml
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1318 Allow setting a base path for shielding-key file IO
  core-primitives/settings/src/lib.rs
  core-primitives/sgx/crypto/src/key_repository.rs
  core-primitives/sgx/crypto/src/rsa3072.rs
  core-primitives/sgx/crypto/src/traits.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/initialization/mod.rs
  enclave-runtime/src/lib.rs
  enclave-runtime/src/rpc/worker_api_direct.rs
  enclave-runtime/src/test/direct_rpc_tests.rs
  local-setup/py/worker.py
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1320 Add missing return to avoid closing the connection twice
  cli/src/trusted_operation.rs
Labels: A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1321 Introduce signing key repo and allow setting the base path of the signing key file IO
  Cargo.lock
  core-primitives/attestation-handler/src/attestation_handler.rs
  core-primitives/settings/src/lib.rs
  core-primitives/sgx/crypto/Cargo.toml
  core-primitives/sgx/crypto/src/ed25519.rs
  core-primitives/sgx/crypto/src/lib.rs
  core-primitives/sgx/crypto/src/rsa3072.rs
  core-primitives/sgx/io/Cargo.toml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/mod.rs
  enclave-runtime/src/initialization/parentchain/common.rs
  enclave-runtime/src/lib.rs
  enclave-runtime/src/test/tests_main.rs
  enclave-runtime/src/top_pool_execution.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1295 Add docker release for teeracle
  .github/workflows/build_and_test.yml
  .github/workflows/delete-release.yml
  .github/workflows/publish-docker-release.yml
  .github/workflows/publish-docker-teeracle.yml
  Makefile
  build.Dockerfile
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1324 Allow setting path of the State Key (AES)
  Cargo.lock
  core-primitives/settings/src/lib.rs
  core-primitives/sgx/crypto/src/aes.rs
  core-primitives/sgx/crypto/src/lib.rs
  core-primitives/stf-state-handler/Cargo.toml
  core-primitives/stf-state-handler/src/test/sgx_tests.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/initialization/mod.rs
  enclave-runtime/src/test/tests_main.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E5-publicapi

#1325 Allow setting the `BasePath` by adding `StateDir` abstraction that helps with fs operations relevant for the state
  core-primitives/settings/src/lib.rs
  core-primitives/stf-state-handler/src/error.rs
  core-primitives/stf-state-handler/src/file_io.rs
  core-primitives/stf-state-handler/src/in_memory_state_file_io.rs
  core-primitives/stf-state-handler/src/test/sgx_tests.rs
  enclave-runtime/src/initialization/mod.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1330 Add base path to light-client initialization
  core-primitives/utils/src/buffer.rs
  core-primitives/utils/src/error.rs
  core/parentchain/light-client/src/io.rs
  enclave-runtime/src/error.rs
  enclave-runtime/src/initialization/parentchain/mod.rs
  enclave-runtime/src/initialization/parentchain/parachain.rs
  enclave-runtime/src/initialization/parentchain/solochain.rs
  enclave-runtime/src/lib.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1334 Remove remnants of `last_slot.bin`
  core-primitives/settings/src/lib.rs
  local-setup/py/worker.py
  service/src/setup.rs
Labels: A0-core, B0-silent, C1-low 📌, E0-breaksnothing

#1333 Fix backup of light-client db and introduce light-client-db subdirectory
  core-primitives/settings/src/lib.rs
  core/parentchain/light-client/src/io.rs
  core/parentchain/light-client/src/light_validation_state.rs
  core/parentchain/light-client/src/state.rs
  enclave-runtime/src/initialization/parentchain/parachain.rs
  enclave-runtime/src/initialization/parentchain/solochain.rs
  enclave-runtime/src/test/tests_main.rs
  service/src/setup.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing
