Repository integritee-network/worker, pull requests merged in 2023-11, with the labels that each got.

#1481 Make itp-utils purely no-std
  Cargo.lock
  app-libs/stf/Cargo.toml
  core-primitives/top-pool-author/Cargo.toml
  core-primitives/utils/Cargo.toml
  core-primitives/utils/src/buffer.rs
  core-primitives/utils/src/error.rs
  core-primitives/utils/src/hex.rs
  core-primitives/utils/src/hex_display.rs
  core-primitives/utils/src/lib.rs
  core-primitives/utils/src/stringify.rs
  core/direct-rpc-server/Cargo.toml
  core/direct-rpc-server/src/lib.rs
  core/direct-rpc-server/src/rpc_responder.rs
  core/direct-rpc-server/src/rpc_watch_extractor.rs
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/rpc-client/src/direct_client.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/attestation.rs
  enclave-runtime/src/lib.rs
  sidechain/block-verification/Cargo.toml
  sidechain/block-verification/src/lib.rs
  sidechain/consensus/aura/Cargo.toml
  sidechain/rpc-handler/Cargo.toml
  sidechain/rpc-handler/src/direct_top_pool_api.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1480 enable `cargo test` for environments without an sgx sdk, and extract the `cargo test` from the docker build command.
  .github/workflows/build_and_test.yml
  Cargo.lock
  Makefile
  build.Dockerfile
  core-primitives/enclave-api/Cargo.toml
  core-primitives/enclave-api/ffi/Cargo.toml
  core-primitives/enclave-api/ffi/build.rs
  core-primitives/enclave-api/src/direct_request.rs
  core-primitives/enclave-api/src/enclave_base.rs
  core-primitives/enclave-api/src/enclave_test.rs
  core-primitives/enclave-api/src/lib.rs
  core-primitives/enclave-api/src/remote_attestation.rs
  core-primitives/enclave-api/src/sidechain.rs
  core-primitives/enclave-api/src/teeracle_api.rs
  service/Cargo.toml
  service/build.rs
  service/src/enclave/api.rs
  service/src/enclave/mod.rs
  service/src/main.rs
  service/src/main_impl.rs
  service/src/ocall_bridge/component_factory.rs
  service/src/ocall_bridge/sidechain_ocall.rs
  service/src/setup.rs
  service/src/sidechain_setup.rs
  service/src/teeracle/teeracle_metrics.rs
  service/src/tests/mocks/initialization_handler_mock.rs
  service/src/tests/mod.rs
  service/src/worker.rs
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1492 [CI] build worker and client in separate jobs
  .github/workflows/build_and_test.yml
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1499 [CI] test shielding/unshielding using shard vault
  .github/workflows/build_and_test.yml
  cli/demo_shielding_unshielding_multiworker.sh
  cli/demo_shielding_unshielding_using_shard_vault.sh
  docker/README.md
  docker/demo-shielding-unshielding-multiworker.yml
  enclave-runtime/src/rpc/worker_api_direct.rs
  sidechain/rpc-handler/src/direct_top_pool_api.rs
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1503 Clean up cargo dependencies
  Cargo.lock
  Cargo.toml
  app-libs/oracle/Cargo.toml
  app-libs/parentchain-interface/Cargo.toml
  app-libs/sgx-runtime/Cargo.toml
  app-libs/stf/Cargo.toml
  cli/Cargo.toml
  core-primitives/attestation-handler/Cargo.toml
  core-primitives/enclave-api/Cargo.toml
  core-primitives/enclave-bridge-storage/Cargo.toml
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/node-api/api-client-extensions/Cargo.toml
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/nonce-cache/Cargo.toml
  core-primitives/sgx/crypto/Cargo.toml
  core-primitives/sgx/crypto/src/lib.rs
  core-primitives/stf-executor/Cargo.toml
  core-primitives/stf-primitives/Cargo.toml
  core-primitives/stf-state-handler/Cargo.toml
  core-primitives/stf-state-observer/Cargo.toml
  core-primitives/substrate-sgx/sp-io/Cargo.toml
  core-primitives/test/Cargo.toml
  core-primitives/top-pool-author/Cargo.toml
  core-primitives/top-pool-author/src/lib.rs
  core-primitives/top-pool/Cargo.toml
  core-primitives/top-pool/src/lib.rs
  core-primitives/types/Cargo.toml
  core/direct-rpc-server/Cargo.toml
  core/offchain-worker-executor/Cargo.toml
  core/parentchain/block-import-dispatcher/Cargo.toml
  core/parentchain/block-importer/Cargo.toml
  core/parentchain/indirect-calls-executor/Cargo.toml
  core/parentchain/light-client/Cargo.toml
  core/parentchain/test/Cargo.toml
  core/rest-client/Cargo.toml
  core/rpc-client/Cargo.toml
  core/rpc-server/Cargo.toml
  core/tls-websocket-server/Cargo.toml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/attestation.rs
  enclave-runtime/src/shard_vault.rs
  enclave-runtime/src/tls_ra/authentication.rs
  enclave-runtime/src/tls_ra/tls_ra_server.rs
  service/Cargo.toml
  sidechain/block-composer/Cargo.toml
  sidechain/consensus/aura/Cargo.toml
  sidechain/consensus/slots/Cargo.toml
  sidechain/primitives/Cargo.toml
  sidechain/rpc-handler/Cargo.toml
  sidechain/state/Cargo.toml
  sidechain/test/Cargo.toml
  sidechain/validateer-fetch/Cargo.toml
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1500 Specify return type in `perform_trusted_operation`
  cli/src/benchmark/mod.rs
  cli/src/evm/commands/evm_call.rs
  cli/src/evm/commands/evm_command_utils.rs
  cli/src/evm/commands/evm_create.rs
  cli/src/evm/commands/evm_read.rs
  cli/src/trusted_base_cli/commands/nonce.rs
  cli/src/trusted_base_cli/commands/set_balance.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/commands/unshield_funds.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
Labels: A1-cli, B1-releasenotes, C1-low 📌, E5-publicapi

#1493 Fix OOM error in large parentchain syncs with sidechain feature.
  core-primitives/enclave-api/ffi/src/lib.rs
  core-primitives/enclave-api/src/enclave_base.rs
  core-primitives/enclave-api/src/sidechain.rs
  core/parentchain/block-import-dispatcher/src/immediate_dispatcher.rs
  core/parentchain/block-import-dispatcher/src/lib.rs
  core/parentchain/block-import-dispatcher/src/triggered_dispatcher.rs
  enclave-runtime/Enclave.edl
  enclave-runtime/src/lib.rs
  service/src/main_impl.rs
  service/src/parentchain_handler.rs
  service/src/sidechain_setup.rs
  service/src/tests/mocks/enclave_api_mock.rs
Labels: A0-core, A3-sidechain, B1-releasenotes, C3-medium 📣, E0-breaksnothing
