Repository integritee-network/worker, pull requests merged in 2023-01, with the labels that each got.

#1133 Bump rust-sgx-sdk to master
  Cargo.lock
  Cargo.toml
  Makefile
  core/tls-websocket-server/Cargo.toml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  rust-sgx-sdk/common/inc/fenv.h
  rust-sgx-sdk/common/inc/stdalign.h
  rust-sgx-sdk/common/inc/stddef.h
  rust-sgx-sdk/common/inc/stdlib.h
  rust-sgx-sdk/common/inc/sys/fpu.h
  rust-sgx-sdk/common/inc/sys/ieee.h
  rust-sgx-sdk/version
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1136 [CLI] coherent naming for commands
  cli/src/base_cli/mod.rs
  cli/src/benchmark/mod.rs
  cli/src/commands.rs
  cli/src/evm/commands/evm_call.rs
  cli/src/evm/commands/evm_create.rs
  cli/src/evm/commands/evm_read.rs
  cli/src/evm/mod.rs
  cli/src/main.rs
  cli/src/oracle/mod.rs
  cli/src/trusted_base_cli/commands/balance.rs
  cli/src/trusted_base_cli/commands/set_balance.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/commands/unshield_funds.rs
  cli/src/trusted_base_cli/mod.rs
  cli/src/trusted_cli.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
Labels: A1-cli, B0-silent, C1-low 📌, E0-breaksnothing

#1135 [docker] fix: bump version constraint for docker >= 2.0.0
  docker/README.md
Labels: B1-releasenotes, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1137 Adjust nonce in StfEnclaveSigner based on pending tx
  Cargo.lock
  app-libs/stf/src/lib.rs
  core-primitives/stf-executor/Cargo.toml
  core-primitives/stf-executor/src/enclave_signer.rs
  core-primitives/top-pool-author/src/author.rs
  core-primitives/top-pool-author/src/mocks.rs
  core-primitives/top-pool-author/src/traits.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/parentchain/common.rs
  enclave-runtime/src/test/enclave_signer_tests.rs
  enclave-runtime/src/test/tests_main.rs
  enclave-runtime/src/test/top_pool_tests.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1143 Avoid hardcoded call index when executing trusted calls
  Cargo.lock
  app-libs/stf/Cargo.toml
  app-libs/stf/src/lib.rs
  app-libs/stf/src/stf_sgx.rs
  app-libs/stf/src/stf_sgx_tests.rs
  app-libs/stf/src/trusted_call.rs
  core-primitives/stf-executor/src/executor.rs
  core-primitives/stf-interface/Cargo.toml
  core-primitives/stf-interface/src/lib.rs
  core-primitives/stf-interface/src/mocks.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/test/enclave_signer_tests.rs
  enclave-runtime/src/test/evm_pallet_tests.rs
  enclave-runtime/src/test/tests_main.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1148 Improve metadata handling
  app-libs/stf/src/stf_sgx.rs
  app-libs/stf/src/trusted_call.rs
  core-primitives/node-api/metadata-provider/src/lib.rs
  core-primitives/node-api/metadata/src/lib.rs
  core-primitives/stf-executor/src/executor.rs
  core-primitives/stf-interface/src/lib.rs
  core/parentchain/indirect-calls-executor/src/indirect_calls_executor.rs
  sidechain/consensus/common/src/block_import_confirmation_handler.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1152 Improve nonce handling in STF execution
  .github/workflows/build_and_test.yml
  Cargo.lock
  app-libs/stf/src/lib.rs
  app-libs/stf/src/trusted_call.rs
  cli/demo_shielding_unshielding.sh
  cli/src/trusted_base_cli/commands/mod.rs
  cli/src/trusted_base_cli/commands/nonce.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/mod.rs
  cli/src/trusted_command_utils.rs
  cli/src/trusted_operation.rs
  docker/demo-indirect-invocation.yml
  enclave-runtime/Cargo.lock
  sidechain/rpc-handler/Cargo.toml
  sidechain/rpc-handler/src/direct_top_pool_api.rs
Labels: A0-core, A1-cli, B1-releasenotes, C1-low 📌, E5-publicapi

#1153 Seal state to preserve it after disconnection
  core/parentchain/light-client/src/io.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1134 Collateral handling for DCAP
  .github/workflows/build_and_test.yml
  Dockerfile
  build.Dockerfile
  core-primitives/attestation-handler/Cargo.toml
  core-primitives/attestation-handler/src/attestation_handler.rs
  core-primitives/attestation-handler/src/collateral.rs
  core-primitives/attestation-handler/src/lib.rs
  core-primitives/enclave-api/build.rs
  core-primitives/enclave-api/ffi/src/lib.rs
  core-primitives/enclave-api/src/remote_attestation.rs
  core-primitives/node-api/metadata/src/metadata_mocks.rs
  core-primitives/node-api/metadata/src/pallet_teerex.rs
  core-primitives/settings/src/lib.rs
  core-primitives/utils/src/hex.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Enclave.edl
  enclave-runtime/src/attestation.rs
  enclave-runtime/src/tls_ra/authentication.rs
  service/build.rs
  service/src/account_funding.rs
  service/src/main.rs
  service/src/teeracle/mod.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E3-hardmerge

#1157 Prevent an out-of-bounds access in case the certs slice is empty
  enclave-runtime/src/tls_ra/authentication.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing
