Repository integritee-network/worker, pull requests merged in 2024-06, with the labels that each got.

#1601 bump version
  Cargo.lock
  cli/Cargo.toml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1602 fix CI if uncached
  build.Dockerfile
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1582 cli enhancements
  cli/src/trusted_base_cli/commands/set_balance.rs
  cli/src/trusted_base_cli/commands/transfer.rs
Labels: A1-cli, B0-silent, C1-low 📌, E0-breaksnothing

#1603 Support the `CheckMetadataHash` signed extension
  .github/workflows/build_and_test.yml
  Cargo.lock
  app-libs/parentchain-interface/Cargo.toml
  cli/Cargo.toml
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/node-api/api-client-extensions/Cargo.toml
  core-primitives/node-api/api-client-types/Cargo.toml
  core-primitives/types/Cargo.toml
  docker/docker-compose.yml
  enclave-runtime/Cargo.lock
  local-setup/config/benchmark.json
  local-setup/config/one-worker.json
  local-setup/config/three-nodes-one-worker.json
  local-setup/config/two-workers.json
  service/Cargo.toml
Labels: A0-core, B1-releasenotes, C1-low 📌, E6-parentchain
