Repository integritee-network/worker, pull requests merged in 2024-12, with the labels that each got.

#1658 remove vulnerable rpc
  Cargo.lock
  cli/Cargo.toml
  cli/src/guess_the_number/commands/guess.rs
  cli/src/guess_the_number/commands/push_by_one_day.rs
  cli/src/guess_the_number/commands/set_winnings.rs
  cli/src/trusted_base_cli/commands/add_session_proxy.rs
  cli/src/trusted_base_cli/commands/nonce.rs
  cli/src/trusted_base_cli/commands/note_bloat.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/commands/unshield_funds.rs
  cli/src/trusted_base_cli/commands/waste_time.rs
  cli/src/trusted_command_utils.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  sidechain/rpc-handler/src/direct_top_pool_api.rs
Labels: F1-security, A1-cli, B1-releasenotes, C3-medium 📣, E5-publicapi

#1660 [ci] bump artifact actions to v4
  .github/workflows/build_and_test.yml
  .github/workflows/publish-draft-release.yml
Labels: B0-silent, C1-low 📌, E0-breaksnothing, A7-somethingelse

#1662 remove EPID call for mrenclave of self
  Cargo.lock
  cli/Cargo.toml
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/src/ocall/attestation_ocall.rs
  service/Cargo.toml
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1664 bump api-client with fix
  Cargo.lock
Labels: A0-core, B1-releasenotes, C3-medium 📣, E0-breaksnothing

#1666 Fix initial sync on target A/B by fixing mortality checkpoint source and ancestry mismatch error
  Cargo.lock
  app-libs/parentchain-interface/src/event_subscriber.rs
  app-libs/parentchain-interface/src/target_b/event_handler.rs
  app-libs/stf/src/trusted_call.rs
  core/parentchain/block-import-dispatcher/src/triggered_dispatcher.rs
  core/parentchain/block-importer/src/block_importer.rs
  core/parentchain/light-client/src/io.rs
  enclave-runtime/src/attestation.rs
  enclave-runtime/src/shard_config.rs
  enclave-runtime/src/shard_vault.rs
  enclave-runtime/src/teeracle/mod.rs
  enclave-runtime/src/utils.rs
  service/src/account_funding.rs
  service/src/main_impl.rs
  service/src/ocall_bridge/worker_on_chain_ocall.rs
  service/src/parentchain_handler.rs
  sidechain/consensus/slots/src/lib.rs
Labels: A0-core, B1-releasenotes, C7-high ❗️, E0-breaksnothing

#1652 Support different Parentchain configs for Integritee, TargetA, TargetB and default to AssetTip for TargetB (aka support Asset Hub)
  Cargo.lock
  app-libs/parentchain-interface/Cargo.toml
  app-libs/parentchain-interface/src/event_subscriber.rs
  app-libs/parentchain-interface/src/integritee/api_client_types.rs
  app-libs/parentchain-interface/src/integritee/api_factory.rs
  app-libs/parentchain-interface/src/integritee/mod.rs
  app-libs/parentchain-interface/src/lib.rs
  app-libs/parentchain-interface/src/target_a/api_client_types.rs
  app-libs/parentchain-interface/src/target_a/api_factory.rs
  app-libs/parentchain-interface/src/target_a/mod.rs
  app-libs/parentchain-interface/src/target_b/api_client_types.rs
  app-libs/parentchain-interface/src/target_b/api_factory.rs
  app-libs/parentchain-interface/src/target_b/event_handler.rs
  app-libs/parentchain-interface/src/target_b/mod.rs
  cli/src/base_cli/commands/balance.rs
  cli/src/command_utils.rs
  cli/src/oracle/commands/listen_to_exchange.rs
  cli/src/oracle/commands/listen_to_oracle.rs
  core-primitives/extrinsics-factory/Cargo.toml
  core-primitives/extrinsics-factory/src/lib.rs
  core-primitives/extrinsics-factory/src/mock.rs
  core-primitives/node-api/api-client-extensions/src/account.rs
  core-primitives/node-api/api-client-types/src/lib.rs
  core-primitives/node-api/factory/src/lib.rs
  core-primitives/stf-executor/src/executor.rs
  core/offchain-worker-executor/src/executor.rs
  core/parentchain/block-importer/src/block_importer.rs
  core/parentchain/indirect-calls-executor/src/executor.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/parentchain/common.rs
  enclave-runtime/src/initialization/parentchain/integritee_parachain.rs
  enclave-runtime/src/initialization/parentchain/integritee_solochain.rs
  enclave-runtime/src/initialization/parentchain/target_a_parachain.rs
  enclave-runtime/src/initialization/parentchain/target_a_solochain.rs
  enclave-runtime/src/initialization/parentchain/target_b_parachain.rs
  enclave-runtime/src/initialization/parentchain/target_b_solochain.rs
  enclave-runtime/src/shard_creation_info.rs
  enclave-runtime/src/shard_vault.rs
  enclave-runtime/src/utils.rs
  service/src/account_funding.rs
  service/src/main_impl.rs
  service/src/ocall_bridge/component_factory.rs
  service/src/ocall_bridge/worker_on_chain_ocall.rs
  service/src/parentchain_handler.rs
  service/src/prometheus_metrics.rs
  service/src/sidechain_setup.rs
  service/src/teeracle/mod.rs
  service/src/worker.rs
  sidechain/consensus/aura/src/lib.rs
  sidechain/consensus/slots/src/lib.rs
  sidechain/consensus/slots/src/mocks.rs
  sidechain/consensus/slots/src/slots.rs
  sidechain/peer-fetch/src/untrusted_peer_fetch.rs
  sidechain/state/src/impls.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E3-hardmerge

#1668 adjust clean reset logic
  Cargo.lock
  cli/Cargo.toml
  core-primitives/settings/src/lib.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  service/src/config.rs
  service/src/main_impl.rs
  service/src/setup.rs
  service/src/tests/mod.rs
  sidechain/storage/src/storage.rs
Labels: A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing
