Repository integritee-network/worker, pull requests merged in 2024-10, with the labels that each got.

#1610 Add support for trusted getter/calls that have been signed with an extension-dapp signer
  Cargo.lock
  app-libs/stf/Cargo.toml
  app-libs/stf/src/getter.rs
  app-libs/stf/src/helpers.rs
  app-libs/stf/src/trusted_call.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1612 more prometheus metrics
  Cargo.lock
  app-libs/oracle/src/metrics_exporter.rs
  app-libs/stf/src/stf_sgx.rs
  core-primitives/enclave-metrics/Cargo.toml
  core-primitives/enclave-metrics/src/lib.rs
  core-primitives/node-api/api-client-extensions/src/lib.rs
  core-primitives/node-api/api-client-extensions/src/pallet_sidechain.rs
  core-primitives/ocall-api/src/lib.rs
  core-primitives/stf-executor/Cargo.toml
  core-primitives/stf-executor/src/executor.rs
  core-primitives/stf-state-handler/src/file_io.rs
  core-primitives/substrate-sgx/externalities/src/lib.rs
  core-primitives/test/src/mock/metrics_ocall_mock.rs
  core-primitives/test/src/mock/onchain_mock.rs
  core-primitives/top-pool-author/src/author.rs
  core-primitives/top-pool-author/src/author_tests.rs
  core-primitives/types/src/parentchain.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  enclave-runtime/Enclave.edl
  enclave-runtime/src/initialization/global_components.rs
  enclave-runtime/src/initialization/mod.rs
  enclave-runtime/src/ocall/ffi.rs
  enclave-runtime/src/ocall/metrics_ocall.rs
  enclave-runtime/src/rpc/common_api.rs
  enclave-runtime/src/test/direct_rpc_tests.rs
  enclave-runtime/src/test/fixtures/test_setup.rs
  enclave-runtime/src/test/mocks/types.rs
  enclave-runtime/src/test/sidechain_aura_tests.rs
  enclave-runtime/src/test/sidechain_event_tests.rs
  enclave-runtime/src/test/top_pool_tests.rs
  enclave-runtime/src/top_pool_execution.rs
  service/src/account_funding.rs
  service/src/error.rs
  service/src/main_impl.rs
  service/src/ocall_bridge/bridge_api.rs
  service/src/ocall_bridge/ffi/mod.rs
  service/src/ocall_bridge/ffi/update_metrics.rs
  service/src/ocall_bridge/metrics_ocall.rs
  service/src/ocall_bridge/sidechain_ocall.rs
  service/src/prometheus_metrics.rs
  service/src/sidechain_setup.rs
  service/src/tests/mocks/update_worker_peers_mock.rs
  service/src/worker.rs
  service/src/worker_peers_updater.rs
  sidechain/consensus/aura/src/block_importer.rs
  sidechain/rpc-handler/Cargo.toml
  sidechain/rpc-handler/src/direct_top_pool_api.rs
Labels: F8-enhancement, A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1615 allow hex output for get-shard and get-fingerprint
  cli/src/trusted_base_cli/commands/get_fingerprint.rs
  cli/src/trusted_base_cli/commands/get_shard.rs
Labels: F8-enhancement, A1-cli, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1616 fix setting parentchain pallet block processed storage for all targets
  core-primitives/stf-executor/src/executor.rs
Labels: F2-bug, A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1619 enhance cli
  cli/src/base_cli/commands/balance.rs
  cli/src/base_cli/mod.rs
  cli/src/trusted_base_cli/mod.rs
Labels: A1-cli, B0-silent, C1-low 📌, E0-breaksnothing

#1620 log enclave extrinsics to parentchains
  Cargo.lock
  app-libs/parentchain-interface/src/event_subscriber.rs
  cli/Cargo.toml
  core-primitives/types/Cargo.toml
  core-primitives/types/src/parentchain.rs
  enclave-runtime/Cargo.lock
  enclave-runtime/Cargo.toml
  service/Cargo.toml
  service/src/main_impl.rs
  service/src/ocall_bridge/component_factory.rs
  service/src/ocall_bridge/worker_on_chain_ocall.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1621 init parentchain genesis hash
  app-libs/stf/src/stf_sgx.rs
  core-primitives/stf-interface/src/parentchain_pallet.rs
  core-primitives/types/src/parentchain.rs
  core/parentchain/light-client/src/concurrent_access.rs
  core/parentchain/light-client/src/io.rs
  core/parentchain/light-client/src/light_validation.rs
  core/parentchain/light-client/src/mocks/validator_access_mock.rs
  enclave-runtime/src/shard_creation_info.rs
  service/src/main_impl.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1622 adjust fee to decimals by genesis and properly charge it before bumping nonce
  Cargo.lock
  Cargo.toml
  app-libs/parentchain-specs/Cargo.toml
  app-libs/parentchain-specs/src/lib.rs
  app-libs/stf/Cargo.toml
  app-libs/stf/src/getter.rs
  app-libs/stf/src/guess_the_number.rs
  app-libs/stf/src/helpers.rs
  app-libs/stf/src/lib.rs
  app-libs/stf/src/trusted_call.rs
  cli/demo_direct_call.sh
  cli/demo_shielding_unshielding.sh
  cli/demo_shielding_unshielding_using_shard_vault.sh
  cli/demo_shielding_unshielding_using_shard_vault_on_target_a.sh
  cli/demo_sidechain.sh
  cli/src/benchmark/mod.rs
  cli/test_auto_shielding_with_transfer_bob.sh
  cli/test_shield_on_target_nodes_with_transfer_to_alice.sh
  enclave-runtime/Cargo.lock
  enclave-runtime/src/test/tests_main.rs
Labels: A2-applibs, B1-releasenotes, C1-low 📌, E0-breaksnothing

#1623 support json rpc 2.0 with `author_submitAndWatchExtrinsic` trusted calls
  cli/src/benchmark/mod.rs
  cli/src/evm/commands/evm_call.rs
  cli/src/evm/commands/evm_create.rs
  cli/src/guess_the_number/commands/guess.rs
  cli/src/guess_the_number/commands/push_by_one_day.rs
  cli/src/guess_the_number/commands/set_winnings.rs
  cli/src/trusted_base_cli/commands/set_balance.rs
  cli/src/trusted_base_cli/commands/transfer.rs
  cli/src/trusted_base_cli/commands/unshield_funds.rs
  cli/src/trusted_operation.rs
  core-primitives/rpc/src/lib.rs
  core-primitives/types/src/lib.rs
  core/direct-rpc-server/src/rpc_responder.rs
  core/direct-rpc-server/src/rpc_watch_extractor.rs
  local-setup/config/two-workers.json
  sidechain/rpc-handler/src/direct_top_pool_api.rs
Labels: A0-core, B1-releasenotes, C1-low 📌, E5-publicapi
